.editpage{
    border-color: black;
    border: 3px solid;
    background-color: white;
    height: fit-content;
    width: 90rem;
    
   

  
}

.editCard{
    border-color: black;
    border: 3px solid;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color:rgb(117, 236, 252);
    height: fit-content;
   
    
}
.displayPage{
    
    flex-direction: row;
    display: flex;
}
.projectPostCard{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;

}
.todaysProject{
    display: flex;
    max-width: 50rem;
    align-items: center;
    flex-direction: column;
}
.displayCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-items: center;

}
.todaysShift{
    display: flex;
    max-width: 50rem;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
   


}
button{
display: flex;
justify-self: center;
justify-content: space-around;
margin:2rem;

}
.hr{
    
    color: black;
    width: 60%;
    height: 6px;
    background-color: black;
    
}
.todaysShiftLabel{
    margin-top: 2rem;
}
.pagePosition{
   
    flex-direction: column;
    
    margin-left: 15rem;
 
    
}

