.progressBar{
    width: 10rem;
    height: 20rem;
    margin: 5rem;
}
.progress{
    display:flex;
    flex-direction: column;
}
.graphSize{
    width: 10rem;
    height: 20rem;
}
.container{
    background-color: white;
    width: fit-content;
    box-shadow: 10px 10px;
    
}
.pageView{
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.updateFields{
    justify-content: space-around;
    margin-right: 1rem;
}
.updateFields1{
    justify-content: space-around;
    margin-right: 1rem;
    margin-left: 1rem;
}
.updateFields2{
    justify-content: space-around;
   
    margin-left: 1rem;
}
.input{
    
    margin: 1vh;
}
.buttonSizing{
    margin: 1vh;
}